In [1]:
# import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
# importando o dataset

X_full_train = pd.read_csv('train.csv')
X_full_test  = pd.read_csv('test.csv')

In [11]:
X_full_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
df2.loc[0:5, 'Draft Year'] = 2018
df2.head(5)

In [92]:
X_full_train.loc[X_full_train['Sex'] == 'male'].sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
552,553,0,3,"O'Brien, Mr. Timothy",male,NaN,0,0,330979,7.8292,NaN,Q
464,465,0,3,"Maisner, Mr. Simon",male,NaN,0,0,A/S 2816,8.0500,NaN,S
354,355,0,3,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250,NaN,C
459,460,0,3,"O'Connor, Mr. Maurice",male,NaN,0,0,371060,7.7500,NaN,Q
491,492,0,3,"Windelov, Mr. Einar",male,21.0,0,0,SOTON/OQ 3101317,7.2500,NaN,S
146,147,1,3,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.0,0,0,350043,7.7958,NaN,S
270,271,0,1,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S
203,204,0,3,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.2250,NaN,C
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C
812,813,0,2,"Slemen, Mr. Richard James",male,35.0,0,0,28206,10.5000,NaN,S

In [12]:
drop_column = ['PassengerId','Cabin', 'Ticket','Name']

X = X_full_train.drop(columns=['Survived'])
X.drop(drop_column, axis=1, inplace = True)

y = X_full_train['Survived']

In [13]:
X_full_test = X_full_test.drop(columns=drop_column)

In [14]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       714 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 48.9+ KB

In [15]:
X.dtypes

Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [16]:
X.describe()

           Pclass         Age       SibSp       Parch        Fare
count  891.000000  714.000000  891.000000  891.000000  891.000000
mean     2.308642   29.699118    0.523008    0.381594   32.204208
std      0.836071   14.526497    1.102743    0.806057   49.693429
min      1.000000    0.420000    0.000000    0.000000    0.000000
25%      2.000000   20.125000    0.000000    0.000000    7.910400
50%      3.000000   28.000000    0.000000    0.000000   14.454200
75%      3.000000   38.000000    1.000000    0.000000   31.000000
max      3.000000   80.000000    8.000000    6.000000  512.329200

In [17]:
X.describe(exclude=np.number)

         Sex Embarked
count    891      889
unique     2        3
top     male        S
freq     577      644

In [23]:
X['Pclass']

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64

In [18]:
#Agrupando features numéricas
numeric_features  = [cls for cls in X.columns if X[cls].dtype == 'float64' or X[cls].dtype =='int64']
print('>>numeric_features:', numeric_features ,
      len(numeric_features))


#Agrupando features categoricas
cat_features = [cls for cls in X.columns if X[cls].dtypes == 'object' and X[cls].nunique()<=3]
print('\n>>cat_features:', cat_features ,
      len(cat_features))

>>numeric_features: ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare'] 5

>>cat_features: ['Sex', 'Embarked'] 2

In [34]:
X[numeric_features].head()

   Pclass   Age  SibSp  Parch     Fare
0       3  22.0      1      0   7.2500
1       1  38.0      1      0  71.2833
2       3  26.0      0      0   7.9250
3       1  35.0      1      0  53.1000
4       3  35.0      0      0   8.0500

In [33]:
X[cat_features].head()

      Sex Embarked
0    male        S
1  female        C
2  female        S
3  female        S
4    male        S

# Split

In [20]:
from sklearn.model_selection import train_test_split
Xtrain,Xval,ytrain,yval = train_test_split(X,y,test_size=0.2,random_state=42)

In [21]:
print(Xtrain.shape)
print(Xval.shape)

(712, 7)
(179, 7)

# Pipeline

In [36]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder


num_pipeline = Pipeline(
    steps=[
        ('num_imputer', SimpleImputer()),  # we will tune differet strategies later
        ('scaler', StandardScaler()),
        ]
)

cat_pipeline = Pipeline(
    steps=[
        ('cat_imputer', SimpleImputer(strategy='most_frequent')),
        ('onehot', OneHotEncoder()),
    ]
)


# Assign features to the pipelines and Combine two pipelines to form the preprocessor
from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer(
    transformers=[
        ('num_pipeline', num_pipeline, numeric_features),
        ('cat_pipeline', cat_pipeline, cat_features),
    ]
)

# modelo

In [40]:
seed = 42

In [41]:
from sklearn.ensemble import RandomForestClassifier

pipeline_dt = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
        ('clf_dt', RandomForestClassifier(n_estimators=200,max_depth=5,random_state=seed)
),
    ]
)

In [45]:
pipeline_dt.fit(Xtrain,ytrain)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num_pipeline',
                                                  Pipeline(steps=[('num_imputer',
                                                                   SimpleImputer()),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['Pclass', 'Age', 'SibSp',
                                                   'Parch', 'Fare']),
                                                 ('cat_pipeline',
                                                  Pipeline(steps=[('cat_imputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehot',
                                                                   OneHotEncoder())]),
                                                  ['Sex', 'Embarked'])])),
                ('clf_dt',
                 RandomForestClassifier(max_depth=5, n_estimators=200,
                                        random_state=42))])

In [51]:
ypred = pipeline_dt.predict(Xval)

In [52]:
len(ypred)

179

In [53]:
len(yval)

179

In [54]:
from sklearn.metrics import accuracy_score
# calculate accuracy, Note: y_test is the ground truth for the tesing set
# we have similiar score for the testing set as the cross validation score - good

print(f'Accuracy Score : {accuracy_score(yval, ypred)}')

Accuracy Score : 0.8100558659217877

In [57]:
# Save the model as a pickle file
import joblib
joblib.dump(pipeline_dt, "clf-best.pickle")

['clf-best.pickle']

In [60]:
# Load the model from a pickle file
saved_tree_clf = joblib.load("clf-best.pickle")
saved_tree_clf

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num_pipeline',
                                                  Pipeline(steps=[('num_imputer',
                                                                   SimpleImputer()),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['Pclass', 'Age', 'SibSp',
                                                   'Parch', 'Fare']),
                                                 ('cat_pipeline',
                                                  Pipeline(steps=[('cat_imputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehot',
                                                                   OneHotEncoder())]),
                                                  ['Sex', 'Embarked'])])),
                ('clf_dt',
                 RandomForestClassifier(max_depth=5, n_estimators=200,
                                        random_state=42))])

In [77]:
passenger1 = pd.DataFrame(
    {
        'Pclass': [3],
        'Sex': ['male'], 
        'Age': [23],
        'SibSp': [0],
        'Parch':[1],
        'Fare': [5.5],
        'Embarked':['Q']
        
    }
)
passenger1

   Pclass   Sex  Age  SibSp  Parch  Fare Embarked
0       3  male   23      0      1   5.5        Q

In [76]:
# died
pred1 = saved_tree_clf.predict(passenger1)
pred1

array([1])

In [69]:
passenger2 = pd.DataFrame(
    {
        'Pclass': [1],
        'Sex': ['female'], 
        'Age': [21],
        'SibSp': [1],
        'Parch':[1],
        'Fare': [80],
        'Embarked':['Q']
        
    }
)
passenger1

   Pclass   Sex  Age  SibSp  Parch  Fare Embarked
0       3  male   23      0      1   5.5        Q

In [70]:
# survived
pred2 = saved_tree_clf.predict(passenger2)
pred2

array([1])